.container {
    border: 1px;
    width: 300px;
    box-shadow: 1px 1px 2px 2px #9d9d9d;
    border-radius: 10px;
    height: 556px;
    margin-top: 52px;
    margin-left: 535px;
}

#heading {
    padding-left: 10px;
    padding-top: 1px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -10px;
}

.p1 {
    margin-left: 13px;
    margin-top: 18px;
    margin-bottom: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(150, 148, 148);
    font-size: 11px;
    font-weight: 600;
}

.forms {
    background-color: rgb(243, 243, 243);
    width: 285px;
    margin-left: 7px;
    height: 40px;
  
    border-radius: 10px;


}


.option {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    


}

.box {

    border: 2px solid rgb(219, 219, 219);
    width: 285px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 12px;
    height: 69px;
    padding-top: 10px;

    border-radius: 10px;

}

.days {
    margin: 7px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgb(150, 148, 148);
}


.date {
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: -7px;
    font-family: Arial, Helvetica, sans-serif;
}

.rsn-casual {
    margin-left: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgb(233, 184, 23);



}

.rsn-sick {
    margin-left: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgb(137, 86, 202);

}

.iconbox {
    margin-left: 205px;
    background-color: rgb(243, 243, 243);
    padding: 0px;
    border-radius: 3px;
    color: #9d9d9d;
    font-size: 21px;
    
   

}
.sickicon{
    margin-left: 221px;
    background-color: rgb(243, 243, 243);
    padding: 0px;
    border-radius: 3px;
    color: #9d9d9d;
    font-size: 21px;
}
.waiting {
    border-radius: 5px;
    padding: 4px 8px 4px 8px;
    text-decoration-line: none;
    background-color: rgb(255, 251, 200);
    margin-left: 77px;
    color: rgb(233, 184, 23);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;

}

.approved {
    border-radius: 5px;
    padding: 4px 6px 4px 6px;
    ;
    text-decoration-line: none;
    background-color: rgb(187, 255, 201);
    margin-left: 77px;
    color: rgb(2, 116, 7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;

}

.declined {
    border-radius: 5px;
    padding: 4px 6px 4px 6px;
    text-decoration-line: none;
    background-color: rgb(253, 219, 219);
    margin-left: 90px;
    color: rgb(253, 37, 188);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
}


#all {
    padding-left: 36px;
    padding-right: 36px;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 13px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #9d9d9d;
    font-size: 12px;
    font-weight: 600;


}

#casual {
    padding-left: 0px;
    padding-right: 36px;
    color: rgb(150, 148, 148);
    font-size: 12px;
    font-weight: 600;


}

.dot {
    margin: auto;
    font-size: 9px;
    padding-left: 25px;
    padding-right: 0px;
    color: rgb(233, 184, 23);

}

.dot1 {
    margin: auto;
    font-size: 9px;


    padding-left: 3px;
    padding-right: 0px;
    color: rgb(137, 86, 202);
}

#sick {
    padding-left: 0px;
    padding-right: 34px;
    color: rgb(150, 148, 148);
    font-size: 12px;
    font-weight: 600;

}